@charset "UTF-8";
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .input-block {
    margin-left: 15px;
  }

  .button-block button {
    margin-left: 15px;
  }

  .content-gbo-text-block-left {
    padding-left: 0px;
    padding-right: 0px;
  }

  .content-gbo-text-block-right {
    padding-left: 80px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .input-block {
    margin-left: 15px;
    margin-top: 15px;
    float: none;
  }

  .button-block button {
    margin-left: 15px;
    margin-top: 15px;
  }

  .header-application-l-block {
    padding: 62px 10px 72px;
  }

  .header-text-top {
    margin-left: 0px;
    text-align: center;
  }

  .header-text-bottom {
    margin: 0px 0px;
    text-align: center;
  }

  .install-gallery-cont {
    width: 100%;
  }

  .gallery-left-block, .gallery-right-block {
    width: 100%;
    margin: 20px 0;
  }

  .gallery-left-item-1, .gallery-left-item-2, .gallery-right-item-1, .gallery-right-item-2 {
    width: 100%;
    background-size: cover;
  }

  .gallery-center-block {
    background-size: cover;
    width: 100%;
  }

  .work {
    padding-bottom: 11px;
  }

  .work-info-block {
    width: 88%;
    margin: 20px 0 0 90px;
    padding-left: 20px;
  }
  .work-info-block:before {
    transform: rotate(90deg);
    top: 236px;
    left: -213px;
    width: 409px;
  }

  .work-info-item-1 {
    float: left;
    width: 70%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-1:after {
    top: 32px;
    left: -36px;
  }
  .work-info-item-1:before {
    top: 0px;
    left: -111px;
  }

  .work-info-item-2 {
    float: left;
    width: 70%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-2:after {
    top: 32px;
    left: -36px;
  }
  .work-info-item-2:before {
    top: 0px;
    left: -111px;
  }

  .work-info-item-3 {
    float: left;
    width: 70%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-3:after {
    top: 32px;
    left: -36px;
  }
  .work-info-item-3:before {
    top: 0px;
    left: -111px;
  }

  .work-info-item-4 {
    float: left;
    width: 70%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-4:after {
    top: 32px;
    left: -36px;
  }
  .work-info-item-4:before {
    top: 0px;
    left: -111px;
  }

  .work-info-item-5 {
    float: left;
    width: 70%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-5:after {
    top: 32px;
    left: -36px;
  }
  .work-info-item-5:before {
    top: 0px;
    left: -111px;
  }

  .content-gbo-text-block-left {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .content-gbo-text-block-right {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .economy-results-block {
    width: 610px;
  }

  .economy-result-total {
    margin: 20px 147px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .input-block {
    margin-left: 15px;
    margin-top: 15px;
    float: none;
  }

  .button-block button {
    margin-left: 15px;
    margin-top: 15px;
  }

  .header-application-l-block {
    padding: 62px 10px 72px;
  }

  .header-text-top {
    margin-left: 0px;
    text-align: center;
  }

  .header-text-bottom {
    margin: 0px 0px;
    text-align: center;
  }

  .install-gallery-cont {
    width: 100%;
  }

  .gallery-left-block, .gallery-right-block {
    width: 100%;
    margin: 20px 0;
  }

  .gallery-left-item-1, .gallery-left-item-2, .gallery-right-item-1, .gallery-right-item-2 {
    width: 100%;
    background-size: cover;
  }

  .gallery-center-block {
    background-size: cover;
    width: 100%;
  }

  .work {
    padding-bottom: 11px;
  }

  .work-info-block {
    width: 80%;
    margin: 20px 0 0 90px;
    padding-left: 20px;
  }
  .work-info-block:before {
    transform: rotate(0deg);
    top: 32px;
    left: -21px;
    width: 3px;
    height: 414px;
  }

  .work-info-item-1 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-1:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-1:before {
    top: 0px;
    left: -120px;
  }

  .work-info-item-2 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-2:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-2:before {
    top: 0px;
    left: -120px;
  }

  .work-info-item-3 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-3:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-3:before {
    top: 0px;
    left: -120px;
  }

  .work-info-item-4 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-4:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-4:before {
    top: 0px;
    left: -120px;
  }

  .work-info-item-5 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
  }
  .work-info-item-5:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-5:before {
    top: 0px;
    left: -120px;
  }

  .content-we-r {
    width: 100%;
  }
  .content-we-r:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 781px;
    background-color: black;
    left: 20px;
    top: 0px;
  }

  .content-we-l {
    width: 100%;
    position: relative;
  }
  .content-we-l:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 781px;
    top: 0px;
    right: 20px;
    background-color: black;
  }

  .content-we-l-item:after {
    content: '';
    position: absolute;
    background: url("images/content-dots.png");
    width: 14px;
    height: 14px;
    right: -24px;
    top: 5px;
    z-index: 1;
  }

  .content-we-r-item:before {
    content: '';
    position: absolute;
    background: url("images/content-dots.png");
    width: 14px;
    height: 14px;
    left: -25px;
    top: 5px;
    z-index: 1;
  }

  .content-why-we {
    margin-left: 25px;
  }

  .header-subtext {
    padding-left: 0px;
    text-align: center;
  }

  .content-gbo-text-block-left {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .content-gbo-text-block-right {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .button-block button {
    width: 150px;
    height: 37px;
    background-color: #2243ff;
    border: none;
    border-bottom: 8px solid #11217f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 6px;
    margin-left: 16px;
  }

  .header-application-l-block {
    width: 100%;
    padding: 15px 0px;
  }

  .l-block-txt-cont {
    text-align: center;
  }

  .header-application-r-block {
    width: 100%;
    background: url("images/form-bg.png");
    opacity: 0.79;
    background-color: white;
    float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    padding-bottom: 21px;
  }

  .header-application {
    padding-top: 120px;
    padding-bottom: 350px;
  }

  .review-comment-1 {
    color: black;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    margin-bottom: 240px;
    margin-top: 240px;
    padding-left: 0px;
  }
  .review-comment-1:before {
    top: -220px;
  }

  .review-comment-2 {
    padding-right: 0px;
  }
  .review-comment-2:after {
    top: -220px;
  }

  .economy-results-block {
    width: 317px;
  }

  input[type="range"] {
    display: block;
    width: 357px;
  }

  .petrol-am-container {
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .input-block {
    margin-left: 15px;
    margin-top: 15px;
    float: none;
  }

  .button-block button {
    margin-left: 15px;
    margin-top: 15px;
  }

  .header-application-l-block {
    padding: 62px 10px 72px;
  }

  .header-text {
    font-size: 20px;
  }

  .header-text-top {
    margin-left: 0px;
    text-align: center;
  }

  .header-text-bottom {
    margin: 0px 0px;
    text-align: center;
  }

  .install-gallery-cont {
    width: 100%;
  }

  .gallery-left-block, .gallery-right-block {
    width: 100%;
    margin: 20px 0;
  }

  .gallery-left-item-1, .gallery-left-item-2, .gallery-right-item-1, .gallery-right-item-2 {
    width: 100%;
    background-size: cover;
  }

  .gallery-center-block {
    background-size: cover;
    width: 100%;
  }

  .work {
    padding-bottom: 11px;
  }

  .work-info-block {
    width: 66%;
    margin: 20px 0 0 90px;
    padding-left: 0px;
  }
  .work-info-block:before {
    transform: rotate(0deg);
    top: 32px;
    left: -21px;
    width: 3px;
    height: 414px;
    display: none;
  }

  .work-info-item-1 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
    margin-left: -45px;
  }
  .work-info-item-1:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-1:before {
    top: 0px;
    left: -120px;
    display: none;
  }

  .work-info-item-2 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
    margin-left: -45px;
  }
  .work-info-item-2:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-2:before {
    top: 0px;
    left: -120px;
    display: none;
  }

  .work-info-item-3 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
    margin-left: -45px;
  }
  .work-info-item-3:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-3:before {
    top: 0px;
    left: -120px;
    display: none;
  }

  .work-info-item-4 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
    margin-left: -45px;
  }
  .work-info-item-4:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-4:before {
    top: 0px;
    left: -120px;
    display: none;
  }

  .work-info-item-5 {
    float: left;
    width: 85%;
    padding: 30px 0px;
    position: relative;
    margin-left: -45px;
  }
  .work-info-item-5:after {
    top: 32px;
    left: -47px;
  }
  .work-info-item-5:before {
    top: 0px;
    left: -120px;
    display: none;
  }

  .content-we-r {
    width: 100%;
  }
  .content-we-r:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 781px;
    background-color: black;
    left: 20px;
    top: 0px;
  }

  .content-we-l {
    width: 100%;
    position: relative;
  }
  .content-we-l:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 781px;
    top: 0px;
    right: 20px;
    background-color: black;
  }

  .content-we-l-item:after {
    content: '';
    position: absolute;
    background: url("images/content-dots.png");
    width: 14px;
    height: 14px;
    right: -24px;
    top: 5px;
    z-index: 1;
  }

  .content-we-r-item:before {
    content: '';
    position: absolute;
    background: url("images/content-dots.png");
    width: 14px;
    height: 14px;
    left: -25px;
    top: 5px;
    z-index: 1;
  }

  .content-why-we {
    margin-left: 25px;
  }

  .header-subtext {
    padding-left: 0px;
    text-align: center;
    font-size: 15px;
  }

  .content-gbo-text-block-left {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .content-gbo-text-block-right {
    padding-left: 35px;
    padding-right: 0px;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }

  .button-block button {
    width: 150px;
    height: 37px;
    background-color: #2243ff;
    border: none;
    border-bottom: 8px solid #11217f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 6px;
    margin-left: 16px;
  }

  .header-application-l-block {
    width: 100%;
    padding: 15px 0px;
  }

  .l-block-txt-cont {
    text-align: center;
  }

  .header-application-r-block {
    width: 100%;
    background: url("images/form-bg.png");
    opacity: 0.79;
    background-color: white;
    float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    padding-bottom: 21px;
  }

  .header-application {
    padding-top: 120px;
    padding-bottom: 350px;
  }

  .review-comment-1 {
    color: black;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    margin-bottom: 240px;
    margin-top: 240px;
    padding-left: 0px;
  }
  .review-comment-1:before {
    top: -220px;
  }

  .review-comment-2 {
    padding-right: 0px;
  }
  .review-comment-2:after {
    top: -220px;
  }

  .button-block-2 button {
    width: 218px;
    height: 51px;
    background-color: #2243ff;
    border: none;
    border-bottom: 8px solid #11217f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin: 50px auto 0px;
  }

  .geoloc-block {
    background: url("images/address-bg.png") top center no-repeat;
    background-size: cover;
    width: 250px;
    height: 203px;
    margin: 0 auto;
  }

  .geoloc-phone {
    padding-top: 30px;
    text-align: center;
    color: #fefefe;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
  }
  .geoloc-phone:before {
    top: 20px;
  }

  .geoloc-address {
    font-size: 15px;
  }

  .content-why-we {
    width: 245px;
  }

  .content-we-r:after, .content-we-l:after {
    display: none;
  }

  .content-we-r-cont {
    width: 250px;
  }

  .content-we-l-cont {
    width: 250px;
    float: left;
    text-align: left;
    padding-left: 38px;
    padding-right: 0px;
  }

  .content-we-l-item {
    width: 212px;
  }
  .content-we-l-item:after {
    left: -25px;
  }

  .collapse-text {
    margin-left: 0px;
  }

  .header-navblock-container {
    text-align: center;
    width: 190px;
    margin: 0 auto;
  }

  .review-comment-2 {
    padding-right: 0px;
  }
  .review-comment-2:after {
    top: -220px;
  }

  .economy-results-block {
    width: 317px;
  }

  input[type="range"] {
    display: block;
    width: 156px;
  }

  .petrol-am-container {
    width: 250px;
  }

  .economy-result-total {
    width: 272px;
    font-size: 22px;
  }

  .economy-results-block {
    width: 269px;
  }

  .economy-result-block-item {
    width: 272px;
  }
}
/*╤фтшэєЄ№ ЇюЁьє ттюфр ш єьхэ№°шЄ№ °шЁшэє яюыюёъш яюф єуыюь*/

/*# sourceMappingURL=responsive.css.map */
